@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-1 {
  --primary: theme(colors.blue);
  --secondary: theme(colors.yellow);
}

.theme-2 {
  --primary: theme(colors.yellow);
  --secondary: theme(colors.blue);
}